
.Weapons2
{
    display: flex;
    flex-wrap: wrap;
}

.Weapon {
    width: 500px;
    height: auto;
    margin: 1.5rem;
    margin-left: 70px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.527);
    position: relative;
    overflow: hidden;
    background-color: #ff4655;
    margin-top: 50px;
    border-radius: 5px;
}

.Weapon img {
    width: 100%;
    filter: drop-shadow(0.7rem 0.7rem 0 rgba(15, 25, 35, .17));
}

.Weapon-info {
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
    padding: 2rem 2rem 2rem;
    letter-spacing: 0.6px;
}

h3 {
    font-family: "Tungsten-Bold";
    color: #0f1923;
    font-size: 2.5rem;
}

p {
    margin-top: 30px;
    font-family: "DinNext";
}
